<mat-card>
    <mat-card-title>owner List</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let owner of owners">
                <img mat-list-avatar src="{{owner.giphyUrl}}" alt="{{owner.name}}">
                <a mat-button [routerLink]="['/owner-edit', owner.id]">
                    <h3 mat-line>{{owner.name}}</h3>
                </a>
            </mat-list-item>
        </mat-list>
    </mat-card-content>

    <button mat-fab color="primary" [routerLink]="['/owner-add']">Add</button>
</mat-card>